@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

table {
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  color: rgb(0, 0, 0);
}

.overskrift {
  td:nth-child(3) {
    font-size: 50px;
  }
}

tr:nth-child(1),
tr:nth-child(9) {
  font-size: 30px;
  text-align: center;
  span {
    vertical-align: super;
    font-size: 20px;
  }
}

.all {
  background-color: rgba(199, 37, 37, 0.363);
}

.mikkel {
  background-color: rgba(255, 255, 0, 0.438);
}

.rebecca {
  background-color: rgba(128, 0, 128, 0.39);
}

.valdemar {
  background-color: rgba(0, 0, 255, 0.349);
}

.anne {
  background-color: rgba(0, 128, 0, 0.39);
}

// .weekendplan {
//   background-color: rgba(255, 115, 0, 0.473);
// }

td {
  padding: 0.5em 1.5em;
  font-size: 40px;
  border: solid black 1px;
  text-align: center;
}

.weekdays {
  td {
    font-size: 50px;
  }
}
